body {
  margin: 0;
  background-color: #F4A261;
}

main {
  display: block;
}

html,
body {
  margin: 0;
  padding:0;
  min-height: 100%;
  min-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Carrois Gothic SC', sans-serif;
  color: #1a1a1a;
}

.hero {
  background: linear-gradient(120DEG,#264653,#2A9D8f,#E76F51,#F4A261,#E9C46A,#ffffff);
}
.title,
.subtitle,
.green,
.content,
.button,
#result-text {
  font-family: 'Carrois Gothic SC', sans-serif;
  word-spacing: 5px;
}

#title {
  display: none;
}


/*First page HTML CSS*/
#submit {
  background-color: black;
}
/* Search Results HTML CSS */
#result-content {
  font-size: 15px;
  text-align: center;
}
.box {
  display: inline-block;
  opacity: 80%;
  transition: opacity 0.3s; 
  -webkit-transition: opacity 0.3s; 
  flex-wrap: wrap;
  justify-content: space-between;
  padding:0 0.5% 0 1.5%;
  border-style: solid;
  padding:20px;
  width: 40%;
}
.box:hover {
  transition: 1 sec;
  opacity: 100%
}

.gif {
  backface-visibility: hidden; 
  max-width: 90%;
  margin-left:90px;
  position:relative; 
  top:2px;
  float :none;
}

.past-search {
  background-color: #000;
  color: #fff;
  opacity:95%;
}
