:root {
  --charcoal: #264653;
  --persianGreen: #2A9D8F;
  --orangeYellowCrayola: #E9C46A;
  --sandyBrown: #F4A261;
  --burntSienna: #E76F51;
}

.charcoal {
  color: var(--charcoal);
}
.green {
  color: var(--persianGreen);
}
.crayola {
  color: var(--orangeYellowCrayola);
}
.brown {
  color: var(--sandyBrown);
}
.sienna {
  color: var(--burntSienna);
}

html {
  /* background-color: #264653; */
}

body {
    font-family: 'Fira Sans', sans-serif;
    /* background-color: var(--charcoal); */
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
  }


.column {
  padding: 1rem;
  margin: 1em;
}

#title {
  text-align: center;
}


